<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702970152564-8l0613e1e0vrr86hb9s1qtlkqeu0rt5b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702970152564-8l0613e1e0vrr86hb9s1qtlkqeu0rt5b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>702970152564-7ue8j666f7f0b7kfna98i733u6esaevq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJLSJQqlSIj3vrivf7MNNyA-NUkFjeIzw</string>
	<key>GCM_SENDER_ID</key>
	<string>702970152564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alexUniNew</string>
	<key>PROJECT_ID</key>
	<string>alexandria-university-app</string>
	<key>STORAGE_BUCKET</key>
	<string>alexandria-university-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702970152564:ios:7987dd84af9282b2037321</string>
	<key>DATABASE_URL</key>
	<string>https://alexandria-university-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>